<div id="main_home">
<div id="holder">
  <div id="slider">
      <div class="slide" id="slide_0">News</div>
      <div class="slide" id="slide_1">Current Releases</div>
      <div class="slide" id="slide_2">Coming Soon</div>
      <div class="slide" id="slide_3">About Us</div>
  </div>
</div>
<div id="home_nav">
  <a id="news" class="home_link" href="#">News</a><br />
  <a id="current" class="home_link" href="#">Current</a><br />
  <a id="soon" class="home_link" href="#">Coming Soon</a><br />
  <a id="us" class="home_link" href="#">About Us</a>
</div>
</div>