<div id="main_home">
<div id="holder">
  <div id="slider">
      <div class="slide" id="slide_0"><h1>News</h1><b>June 21, 2011</b><br /><div class="slide_text">After the success of recording artist AJ Barry's CD release party we've decided to continue with this project by launching this website.  AJ will be re-release his "Chakra" album under LoveAssault. This is still the beta version of the website so keep checking back for more updates!</div> </div>
      <div class="slide" id="slide_1"><h1>Current Releases</h1><%= image_tag('chakra.jpg') %><br /><b>"The Chakras"</b> by LoveAssault</div>
      <div class="slide" id="slide_2"><h1>Coming Soon</h1><%= image_tag ('heart.jpg') %><br /><b>Sex Tactics</b> by LoveAssault</div>
      <div class="slide" id="slide_3"><h1>About Us</h1><div class="slide_text_3">The term 'superposition' is used in quantum mechanics to describe partials when they are in wave form. The days of thinking  atoms are little balls orbiting as planets are over and so are the days of thing record labels as big money making machine. Our focus is on the talents with in every artist rather than if they have a marketable image. We also see the new trend of the DIY (Do It Yourself) movement which always artist to become more creative and in charge of their own destiny. SuperPosition Records is a label by artists for artists because as soon as people who are not in this business for the love music will quickly loose site of the true power behind music. This project is very new and we that you fallow us as we grow and evolve. </div></div>
  </div>
</div>
<div id="home_nav">
  <a id="news" class="home_link" href="#">News</a><br />
  <a id="current" class="home_link" href="#">Current</a><br />
  <a id="soon" class="home_link" href="#">Coming Soon</a><br />
  <a id="us" class="home_link" href="#">About Us</a>
</div>
</div>